body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.header nav a {
  margin: 0 10px;
  color: white;
}

/* about section styles */
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.about-section h2,
.projects-section h2,
.contact-section h2 {
  margin-bottom: 20px;
}

/* projects section styles */
.projects-section {
  padding: 50px;
  text-align: center;
}

.projects-list .projects-item {
  margin-bottom: 30px;
}

.projects-list .projects-item h3 {
  margin-bottom: 30px;
}

.projects-list .projects-item a {
  color: blue;
}

/* contact section styles */
.contact-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.contact-section a {
  color: blue;
}

/* Footer styles */
.footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}
